#basePOS {
  display: flex;
  justify-content: center;
  /* Center items horizontally */
  min-height: 96vh;
  /* Min Full viewport height */
  max-height: 96vh;
  /* Max Full viewport height */

  position: relative;
}

#mainPOS {
  display: flex;

  width: 100%;
  margin-top: 45px;







}

#receiptBox {
  display: flex;
  width: 30%;
  height: 100%;

  flex-direction: column;

  margin-left: 5px;
  margin-top: 5px;
  margin-right: 5px;
  margin-bottom: auto;


}

#receiptDisplay {
  background-color: white;
  border-radius: 25px;

  width: 100%;
  height: 75%;
  margin-bottom: auto;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;

}

#itemBox {
  display: flex;
  width: 69%;
  height: 100%;

  margin-right: 0px;
  margin-bottom: auto;

  margin-top: 5px;
  margin-left:5px;


}

#actionBox {
  display: flex;



flex-direction: column;
  margin: auto;
  height: 23%;
  width: 98%;
}


#topBar {
  display: flex;
  background-color: var(--dark-tab);
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;



  width: 100%;


  height: 50px;

  margin-top: 0px;
  margin-bottom: auto;
  position: absolute;

  top: 0px;
  left: 0px
}

#userBox {
  display: flex;
  margin-left: 20px;

}

#userName {
  display: flex;

  margin-bottom: auto;
  margin-top: 5px;
  margin-left: 5px;

  font-size: 25px;
}

#logOutBox {
  display: flex;
  margin-left: auto;
  margin-top: 4px;
  margin-right: 20px;



}

#logOut {
  display: flex;
  margin-right: 10px;



  background-color: #555555;

}

#loggedInUser {
  display: flex;
}

#taxBox {
  display: flex;
  width: 100%;
  height: 25%;
}

#totalBox {
  display: flex;

  width: 100%;
  height: 25%;

}

#voidPayBox {
  display: flex;
  margin-top: auto;
  margin-bottom: 0px;
  height: 35%;

  width: 100%;

}

#payButtonBox{
  display: flex;
  margin-right: 0px;
  margin-left: auto;

  width: 45%;
}

#voidButtonBox {
  display: flex;
  
  margin-right: auto;
  margin-left: 0px;
  width: 45%;

}

#voidButton {
  width: 100%;


  text-align: center;
  vertical-align: middle;

}

#payButton {
  width: 100%;

  text-align: center;
  vertical-align: middle;

}

#taxLabelDiv {
  display: flex;

  align-items: center;
}

#totalLabelDiv {
  display: flex;

  align-items: center;
}

#taxAmountDiv {
  display: flex;

  margin-left: auto;
  margin-right: 0px;
  align-items: center;


}

#totalAmountDiv {
  display: flex;

  margin-left: auto;
  margin-right: 0px;
  align-items: center;

}

#taxAmountLabel {
  direction: rtl; 
}

#totalAmountLabel {
  direction: rtl; 
}



@media (max-width: 640px) {
  #payButton {
    font-size: 15px;
  }
}